{% set clients = namespace(count = ports_access|sum(attribute="count"), vlan=vlan_client) %}
configure terminal
!
{# DEFAULTS #}
{% include 'defaults.j2' %}
!
hostname {{ hostname }}
!
ip ssh server
!
ip domain name {{ domainname }}
ip name-server {% for dns in dns_servers %} {{- dns.addr }} {% endfor %} {{- ip_management.gateway }}
!
{# AAA #}
{% include 'aaa.j2' %}
!
{# DATETIME #}
{% include 'datetime.j2' %}
!
{# LOGGING #}
{% include 'logging.j2' %}
!
{# SNMP #}
{% include 'snmp.j2' %}
!
{# MANAGEMENT #}
{% include 'management.j2' %}
!
{# STP #}
{% include 'stp.j2' %}
!
{# SECURITY #}
{% include 'security.j2' %}
!
{# PPPoE #}
{% include 'pppoe.j2' %}
!
{# MULTICAST #}
{# {% include 'multicast.j2' %} #}
!
{# DHCP #}
{# {% include 'dhcp.j2' %} #}
!
end
